<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ef8d72">  <td>17/07/17 15:08:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Cls_Apptus_E2E_Flow_API.beforeMethod()[pri:0, instance:testCases.Cls_Apptus_E2E_Flow_API@79e2c065]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1008315045</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>17/07/17 15:08:21</td>   <td>8200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Cls_Apptus_E2E_Flow_API.fn_E2E_Apptus_E2E_Flow(java.util.Map)[pri:0, instance:testCases.Cls_Apptus_E2E_Flow_API@79e2c065]">fn_E2E_Apptus_E2E_Flow</td> 
  <td>main@1008315045</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>17/07/17 15:08:31</td>   <td>18631</td> <td>&nbsp;</td><td title="&lt;&lt;Cls_Apptus_E2E_Flow_API.afterMethod()[pri:0, instance:testCases.Cls_Apptus_E2E_Flow_API@79e2c065]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1008315045</td>   <td></td> </tr>
</table>
