<h2>Reporter output</h2><table><tr><td>
Default Environment selected for testing is: INT</td></tr>
<tr><td>Lead has created successfully and convert to Account</td></tr>
<tr><td>ERROR: Unable to Create proposal from upgrade and downgrade with exception reported as: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=59.0.3071.115)
  (Driver info: chromedriver=2.30.477700 (0057494ad8732195794a7b32078424f92a5fce41),platform=Windows NT 6.1.7601 SP1 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 15 milliseconds
Build info: version: '2.42.2', revision: '6a6995d', time: '2014-06-03 17:42:30'
System info: host: 'INLT-06106', ip: '10.30.23.142', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.8.0_77'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities [{applicationCacheEnabled=false, rotatable=false, mobileEmulationEnabled=false, networkConnectionEnabled=false, chrome={chromedriverVersion=2.30.477700 (0057494ad8732195794a7b32078424f92a5fce41), userDataDir=C:\Users\suhas.thakre\AppData\Local\Google\Chrome\User Data\Default}, takesHeapSnapshot=true, pageLoadStrategy=normal, databaseEnabled=false, handlesAlerts=true, hasTouchScreen=false, version=59.0.3071.115, platform=XP, browserConnectionEnabled=false, nativeEvents=true, acceptSslCerts=true, locationContextEnabled=true, webStorageEnabled=true, browserName=chrome, takesScreenshot=true, javascriptEnabled=true, cssSelectorsEnabled=true, unexpectedAlertBehaviour=}]
Session ID: 48bc0ccd1d37a623b7aa79d0dc799fc2</td></tr>
<tr><td>Product family Selected and Data set successfully.</td></tr>
<tr><td>ERROR: problem while Creating the Apptus-E2E flow</td></tr>
<tr><td>ERROR: Test Case Fail</td></tr>
</table>